
h3{
	margin:0px 0px 6px 0px;
}

section{
	padding:5px;
	margin:-6px;
	border-radius:5px;
}

textarea{
	font-family:monospace;
	margin-top:6px;
	max-width:100%;
	width:100%;
}

/* ----- */

section.exist{
	border:1px solid #FFFF88;
	background-color:#FFFFCC;
}

section.exist textarea{
	background-color:#FFFFEE;
	color:#666600;
}

section.new{
	border:1px solid #88FF88;
	background-color:#CCFFCC;
}

section.new textarea{
	background-color:#EEFFEE;
	color:#006600;
}

section.old{
	border:1px solid #FF8888;
	background-color:#FFCCCC;
}

section.old textarea{
	background-color:#FFEEEE;
	color:#660000;
}

/* ----- */

section.new tr td, section.exist tr.new td{
	background-color:#CCF4CC;
}

section.new tr:nth-child(odd) td, section.exist tr.new:nth-child(odd) td{
	background-color:#CFEBCF;
}

/* ----- */

section.old tr td, section.exist tr.old td{
	background-color:#F4CCCC;
}

section.old tr:nth-child(odd) td, section.exist tr.old:nth-child(odd) td{
	background-color:#EBCFCF;
}

/* ----- */

section.exist tr td.changed{
	background-color:#F4F4CC;
}

section.exist tr:nth-child(odd) td.changed{
	background-color:#EBEBCF;
}

/* ----- */

table.table-striped tr:hover td {
	background-color: #FFFFD0 !important;
}

section{
	height:auto;
	overflow:hidden;
	xtransition:height 1s;
}

section.collapse{
	height:28px !important;
}

section a.toggle{
	background-image:url('../icons/button_blue_delete.png');
	display:block;
	float:right;
	height:48px;
	width:48px;
	margin:-7px;
	cursor:pointer;
}

section.collapse a.toggle{
	background-image:url('../icons/button_blue_add.png');
}
