
nav{
	z-index:10;
	position:fixed;
}

nav h2{
	margin:8px 0px 0px 0px;
}

ul.nav, nav:hover ul.nav{
	margin-left:0px;
}

main{
	padding-top:60px;
}

/* ------------ */

ul.list{
	list-style-type:none;
	margin:0px;
	padding:0px;
	border-top:1px solid #8EAEFF;
}

ul.list li{
	padding:6px 0px;
	border-bottom:1px solid #8EAEFF;
	height:18px;
}

ul.list li:hover{
	background-color:#FFFFF0;
}

ul.list li div.w1, ul.list li div.w2, ul.list li div.w3{
	float:left;
}
ul.list li div.w1{
	width:10%;
}
ul.list li div.w2{
	width:20%;
}
ul.list li div.w3{
	width:30%;
}

/* ----------------- */

textarea{
	width:100%;
	height:250px;
}

iframe.image-library{
	width:100%;
	height:100%;
	position:relative;
}

form table{
	width:100%;
}

input.title{
	width:100%;
	font-size:18pt;
}


/* --------------------- Form --------------------- */

form table tr td{
	padding:6px 0px;
}
form table tr td:first-child{
	padding-right:6px;
	padding-top:9px;
	text-align:right;
	vertical-align:top;
	width:148px;
}
form table tr td:last-child{
	/*width:260px;*/
	vertical-align:top;
}

input[type="text"], input[type="password"], input[type="email"], select, textarea{
	font-family:'Titillium Web','Open Sans',sans-serif;
	/*background-color:#FFFFFF;
	color:#404040;*/
	color:#000000;
	padding:4px 8px;
	/*width:100%;*/
	box-sizing:border-box;
	border:0px none;
	border-bottom:2px solid #D8D8D8;
	background-color:#F4F4F4;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, select:focus, textarea:focus{
	background-color:#F8F8F0;
}
input[disabled], select[disabled], textarea[disabled]{
	color:#666666;
}
select{
	outline:0px;
	padding:3px 8px;
}
textarea{
	height:200px;
}
input[type="checkbox"], input[type="radio"]{
	width:21px;
	height:21px;
	vertical-align:-5px;
}
/*select, textarea{
}*/
input[data-validate="currency"], input[data-validate="numeric"]{
	text-align:right;
	padding-right:20%;
}

input[type="submit"], input[type="button"], button, a.button{
	font-family:'Titillium Web','Open Sans',sans-serif;
	font-weight:bold;
	font-size:11pt;
	padding:6px 15px;
	color:#FFFFFF;
}

input[type="submit"]{
	background-color:#4080D0;
	border:0px none;
	border-top:1px solid #C0C0D0;
	border-bottom:2px solid #2060D0;
}
input[type="button"]{
	background-color:#40C080;
	border:0px none;
	border-top:1px solid #C0D0C0;
	border-bottom:2px solid #20B040;
}
button, a.button{
	background-color:#6080A0;
	border:0px none;
	border-top:1px solid #C0C0C8;
	border-bottom:2px solid #4060A0;
}
a.button{
	display:inline-block;
}
a.button i.fa{
	font-size:10pt;
	vertical-align:1px;
	color:#FFFFFF;
}

input[type="submit"][disabled], input[type="button"][disabled], button, a.button.disabled{
	background-color:#849EB8;
	border-bottom:2px solid #687BA2;
}


/* --------------------- Flash Message --------------------- */

div#flash_messages{
	text-align:left;
}

div#flash_messages div.success, div#flash_messages div.error, div#flash_messages div.warning{
	padding:4px 2px;
	margin:6px 0px;
	font-size:11pt;
}

div#flash_messages div.success{
	border-bottom:3px solid #80D080;
	background-color:#D0F8D0;
	color:#208020;
}

div#flash_messages div.error{
	border-bottom:3px solid #D08080;
	background-color:#F8D0D0;
	color:#802020;
}

div#flash_messages div.warning{
	border-bottom:3px solid #B0B060;
	background-color:#E4E4B0;
	color:#585820;
}

div#flash_messages div.icon{
	float:left;
	height:16px;
	width:16px;
}
