table.table-striped{
	background-color:#FFFFFF;
	/*border-top:1px solid #AAAAAA;
	border-left:1px solid #AAAAAA;*/
	box-shadow:0px 0px 14px -2px #888888;
	border-collapse:collapse;
	border-radius:3px;
	overflow:hidden;
}
/*table.table-striped{
	border-radius:4px;
}*/

table.table-striped tr th{
	background-color:#19355F;
	border-bottom:1px solid #254677;
	/*border-right:1px solid #AAAAAA;*/
	color:#FFFFFF;
	padding:10px 10px;
	font-size:10pt;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#254677),color-stop(1,#0E2444));
}

/*table.table-striped tr th:first-child{
	border-top-left-radius:4px;
}
table.table-striped tr th:last-child{
	border-top-right-radius:4px;
}*/

table.table-striped tr td{
	padding:8px 10px;
	border-bottom:1px solid #AAAAAA;
	/*border-right:1px solid #CCCCCC;*/
	background-color:#FEFEFE;
	font-size:10pt;
}

table.table-striped tr td a{
	text-decoration:none;
}

table.table-striped tr td img{
	vertical-align:middle;
}

table.table-striped tr td a.button{
	margin: -7px 0px -7px 5px;
	padding: 4px 6px;
}

table.table-striped tr.alt_row td, table.table-striped tr:nth-child(odd) td{
	background-color:#F6F6F6;
}

table.table-striped tr:hover td{
	background-color:#FFFFD0;
}


.form-group.row{
	margin-top:12px;
	margin-bottom:16px;
}

.row label{
	display:block;
}

.form-group input[type="text"], .form-group input[type="password"], .form-group input[type="email"], .form-group select, .form-group textarea{
	width:100%;
}
.form-group iframe{
	width:99.5%;
	border:1px solid #D0D0D0;
}

form.data-form{
	margin:0px -6px;
}
.row{
	padding:0px 6px;
	box-sizing:border-box;
}
.row.width-25, .row.width-33, .row.width-50, .row.width-66{
	float:left;
}
.row.width-25{
	width:25%;
}
.row.width-33{
	width:33%;
}
.row.width-50{
	width:50%;
}
.row.width-66{
	width:66%;
}
